{{#if eaten}}

	<li>
		{{name}}
		<button class="devour-burger" data-id="{{id}}" data-eatburger="{{eaten}}">
		DEVOUR IT!
	</button>
	</li>
	
{{else}}
<li>
	{{name}}
	{{!-- <button class="devour-burger" data-id="{{id}}" data-eatburger="{{eaten}}">
		TEST
	</button> --}}
</li>
{{/if}}
